<!DOCTYPE html>
<html>
<head>
    <title>Film Finder</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <h1 class="logo">Film Finder</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">Home</a></li>
                <li><a href="/profile" class="<%= activePage === 'profile' ? 'active' : '' %>">Profile</a></li>
                <% if (currentUser) { %>
                    <li><a href="/auth/logout">Sign Out</a></li>
                <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/signup">Sign Up</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
</body>
</html>
