<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MovieApp</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="header">
        <div class="logo">Film Finder</div>
        <nav class="navbar">
            <a href="/" class="active">Home</a>
            <a href="/profile">Profile</a>
            <% if (currentUser) { %>
                <a href="/auth/logout">Sign Out</a>
            <% } else { %>
                <a href="/auth/login">Login</a>
            <% } %>
        </nav>
    </div>
    <div class="container">
        <h1>Welcome to Film Finder!!</h1>
        <p>The ultimate destination for all movie enthusiasts! 
          Here, you can search for movies, add your favorites to your personal list, and remove them whenever you like. 
          Explore a vast collection and keep track of what you love!!!</p>
        <% if (currentUser) { %>
            <a href="/movies/search" class="btn">Search Movies</a>
        <% } else { %>
            <a href="/auth/signup" class="btn">Get Started</a>
        <% } %>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
