<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MovieApp</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="header">
        <div class="logo">Film Finder</div>
        <nav class="navbar">
            <a href="/" class="active">Home</a>
            <a href="/profile">Profile</a>
            <a href="/auth/login">Login</a>
        </nav>
    </div>
    <div class="container">

        <form action="/api/movies/search" method="GET">
            <label for="query">Movie Title:</label>
            <input type="text" id="query" name="query" required>
            <button type="submit">Search</button>
        </form>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>